.alert-box{
  position: fixed;
  z-index: 9999;
  background-color: rgba(0,0,0,0.80);
  top: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
}
.abody{ 
  margin-top: 20%;
  margin-bottom: 20%;
  position: relative;
  background-color: #fff;
  overflow: auto;
}
.alert-box h4{
  color: #212121;
  font-size: 18px;
  padding: 15px 15px 0px 20px;
  font-weight: bold;
}
.alert-box .close-btn{
  padding: 8px 12px;
  background-color: #bdbdbd;
  color: #fff;
  font-size: 14px;
  float: right;
  border-radius: 0;
  border: none;
}
.alert-box .close-btn:hover, .alert-box .close-btn:focus{
  background-color: #dd2c00;
  color: #fff;
}
.box-body{
  padding: 0px 30px 20px 30px;
}
.box-body .icon-exclamation{
  font-size: 80px;
  color: #ffa726;
}
.box-body h4{
  font-size: 14px;
  font-weight: normal;
  color: #424242;
  line-height: 18px;
  margin: 10px 0px 20px 0px;
  padding: 0;
}
.alert-box .panel{
  padding: 0;
  margin: 10px 0px 10px 0px;
  background-color: transparent;
  border-radius: 4px 4px 0px 0px;
  box-shadow: none;
}
.alert-box .panel:last-child{
  margin: 0;
}
.alert-box .panel .panel-heading h5{
  font-weight: bold;
  margin: 8px 0px;
  padding: 0;
}

.alert-box .panel.job-posting .panel-heading{
  background-color: #008c23;
  color: #fff;
  padding: 1px;
}
.alert-box .panel.cv-bank-access .panel-heading{
  background-color: #0c6899;
  color: #fff;
  padding: 1px;
}
.alert-box .panel-body{
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 10px 0px;
}
.alert-box h3{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #757575;
  display: inline-block;
}
.alert-box h3:after{
  content: "|";
  margin: 0px 15px;
  color: #bdbdbd;
}
.alert-box h3:last-child:after{
  content: "";
}
.bg-warning{
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: #fb8c00;
  border-radius: 4px;
  border: 1px solid #ffcc80;
}
.alert-box .checkbox{
  margin-top: 40px;
}
.alert-box .ok-btn{
  background-color: #424242;
  color: #fff;
  padding: 8px 20px;
  border: none;
}