@font-face {
  font-family: 'corporate';
  src:  url('../fonts/corporate.eot?wo5f39');
  src:  url('../fonts/corporate.eot?wo5f39#iefix') format('embedded-opentype'),
    url('../fonts/corporate.ttf?wo5f39') format('truetype'),
    url('../fonts/corporate.woff?wo5f39') format('woff'),
    url('../fonts/corporate.svg?wo5f39#corporate') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'corporate' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyword:before {
  content: "\e600";
}
.icon-graduation-cap:before {
  content: "\e601";
}
.icon-user-default:before {
  content: "\e602";
}
.icon-angle-top:before {
  content: "\e603";
}
.icon-circle:before {
  content: "\e604";
}
.icon-share:before {
  content: "\e605";
}
.icon-cv-match:before {
  content: "\e606";
}
.icon-eye-slash:before {
  content: "\e607";
}
.icon-eye:before {
  content: "\e608";
}
.icon-heart:before {
  content: "\e609";
}
.icon-star:before {
  content: "\e60a";
}
.icon-check-o:before {
  content: "\e60b";
}
.icon-rank:before {
  content: "\e60c";
}
.icon-archive:before {
  content: "\e60d";
}
.icon-exclamation:before {
  content: "\e60e";
}
.icon-cv-bank:before {
  content: "\e60f";
}
.icon-list:before {
  content: "\e610";
}
.icon-file:before {
  content: "\e611";
}
.icon-sign-off:before {
  content: "\e612";
}
.icon-service-list:before {
  content: "\e613";
}
.icon-package:before {
  content: "\e614";
}
.icon-briefcase:before {
  content: "\e615";
}
.icon-calendar:before {
  content: "\e616";
}
.icon-help:before {
  content: "\e617";
}
.icon-feedback:before {
  content: "\e618";
}
.icon-lock:before {
  content: "\e619";
}
.icon-not-found:before {
  content: "\e61a";
}
.icon-times-o:before {
  content: "\e61b";
}
.icon-angle-left:before {
  content: "\e61c";
}
.icon-check:before {
  content: "\e61d";
}
.icon-copy:before {
  content: "\e61e";
}
.icon-history:before {
  content: "\e61f";
}
.icon-edit:before {
  content: "\e620";
}
.icon-repost:before {
  content: "\e621";
}
.icon-restore:before {
  content: "\e622";
}
.icon-repost-2:before {
  content: "\e623";
}
.icon-envelope:before {
  content: "\e624";
}
.icon-angle-bottom:before {
  content: "\e625";
}
.icon-angle-right:before {
  content: "\e626";
}
.icon-calendar-o:before {
  content: "\e627";
}
.icon-folder:before {
  content: "\e628";
}
.icon-filter:before {
  content: "\e629";
}
.icon-cv:before {
  content: "\e62a";
}
.icon-invite:before {
  content: "\e62b";
}
.icon-check-double:before {
  content: "\e62c";
}
.icon-home:before {
  content: "\e62d";
}
.icon-home1:before {
  content: "\e62e";
}
.icon-keyword1:before {
  content: "\e62f";
}
.icon-live-jobs:before {
  content: "\e630";
}
.icon-magnifier:before {
  content: "\e631";
}
.icon-mouse-click:before {
  content: "\e632";
}
.icon-ms-excell:before {
  content: "\e633";
}
.icon-check-sign:before {
  content: "\e634";
}
.icon-ms-word:before {
  content: "\e635";
}
.icon-search:before {
  content: "\e636";
}
.icon-taka:before {
  content: "\e637";
}
.icon-quote-end:before {
  content: "\e638";
}
.icon-times:before {
  content: "\e639";
}
.icon-quote-start:before {
  content: "\e63a";
}
.icon-shortlist:before {
  content: "\e63b";
}
.icon-ap-repeat:before {
  content: "\e63c";
}
.icon-refresh:before {
  content: "\e63d";
}
.icon-star-2:before {
  content: "\e63e";
}
.icon-star-4:before {
  content: "\e63f";
}
.icon-star-3:before {
  content: "\e640";
}
.icon-star-1:before {
  content: "\e641";
}
.icon-print:before {
  content: "\e642";
}
.icon-comments:before {
  content: "\e643";
}
.icon-download:before {
  content: "\e644";
}
.icon-com:before {
  content: "\e645";
}
.icon-trash:before {
  content: "\e646";
}
.icon-mail-sent:before {
  content: "\e647";
}
.icon-user:before {
  content: "\e648";
}
.icon-thumb-down:before {
  content: "\e800";
}
.icon-thumb-up:before {
  content: "\e801";
}
.icon-bars:before {
  content: "\e802";
}
.icon-file-times:before {
  content: "\e900";
}
.icon-file-download:before {
  content: "\e901";
}
.icon-file-arrows:before {
  content: "\e902";
}
.icon-assessment:before {
  content: "\e903";
}
.icon-right-arrow-big:before {
  content: "\e904";
}
.icon-details:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-university:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-alt-inv:before {
  content: "\e90a";
}
.icon-list-angle-right:before {
  content: "\e90b";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-alt:before {
  content: "\e90e";
}
.icon-age:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-gender:before {
  content: "\e911";
}
.icon-google-plus:before {
  content: "\e912";
}
.icon-question:before {
  content: "\e913";
}
.icon-basic-file:before {
  content: "\e914";
}
.icon-star-file:before {
  content: "\e915";
}
.icon-assessment-badge:before {
  content: "\e916";
}
.icon-file-view:before {
  content: "\e917";
}
.icon-assessment-check:before {
  content: "\e918";
}
.icon-assessment-empty:before {
  content: "\e919";
}
.icon-assessment-default:before {
  content: "\e91a";
}
.icon-assessment-view:before {
  content: "\e91b";
}
.icon-employer:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e91d";
}
.icon-sort-down:before {
  content: "\e91e";
}
.icon-sort-up:before {
  content: "\e91f";
}
.icon-assessment-none:before {
  content: "\e920";
}
.icon-pdf-file:before {
  content: "\e921";
}
.icon-certified-badge:before {
  content: "\e922";
}
.icon-angle-double-right:before {
  content: "\e923";
}
.icon-calendar-info:before {
  content: "\e924";
}
.icon-calendar-time:before {
  content: "\e925";
}
.icon-notify-bell:before {
  content: "\e926";
}
.icon-notify-bell-tik:before {
  content: "\e927";
}
.icon-rockt-btn:before {
  content: "\e928";
}
.icon-user-remove-mc:before {
  content: "\e929";
}
.icon-open-process:before {
  content: "\e92a";
}
.icon-user-hired:before {
  content: "\e92b";
}
.icon-sorting-ic:before {
  content: "\e92c";
}
.icon-calendar-straight:before {
  content: "\e92d";
}
.icon-calendar-dot:before {
  content: "\e92e";
}
.icon-clock-style:before {
  content: "\e92f";
}
.icon-direction:before {
  content: "\e930";
}
.icon-info:before {
  content: "\e931";
}
.icon-location-map:before {
  content: "\e932";
}
.icon-cross-close:before {
  content: "\e933";
}
.icon-comment:before {
  content: "\e934";
}
.icon-plus-sign:before {
  content: "\e935";
}
.icon-chat-bubbles:before {
  content: "\e936";
}
.icon-clipboard-list:before {
  content: "\e937";
}
.icon-cm-package-access:before {
  content: "\e938";
}

